1. Creating Lists

In [1]:
# create simple list with mixed data types
list1=[22,220.67,"chitwan",True]
print(list1)

[22, 220.67, 'chitwan', True]

In [2]:
# display type 
list1=[22,220.67,"chitwan",True]
print(type(list1))

<class 'list'>

In [3]:
# display length of list
# Hint: len(list)
list1=[22,220.67,"chitwan",True]
print(len(list1))

4

In [4]:
# create nested list
list1=[22,220.67,"chitwan",True,[66,90.56,"ktm",False]]
print(list1)

[22, 220.67, 'chitwan', True, [66, 90.56, 'ktm', False]]

In [7]:
# display type of nested list
list1=[22,220.67,"chitwan",True,[66,90.56,"ktm",False]]
print(type(list1[4]))

<class 'list'>

In [8]:
# display length of nested list
# Hint: len() 
list1=[22,220.67,"chitwan",True,[66,90.56,"ktm",False]]
print(len(list1[4]))

4

list creation from strings

In [12]:
# Initialize any non-empty string
#
# split string to create list
place="I live in Kathmandu."
print(place.split())

['I', 'live', 'in', 'Kathmandu.']

2. Indexing Lists

Positive Indexing

In [14]:
# initialize simple list of length 5
list=["hello",88,True,555.000,"world"]
print(len(list))

5

In [15]:
# print 1st item using positive index
list=["hello",88,True,555.000,"world"]
print(list[0])

hello

In [16]:
# print 3rd item using positive index
list=["hello",88,True,555.000,"world"]
print((list[2]))

True

In [17]:
# print last item using positive index
list=["hello",88,True,555.000,"world"]
print(list[4])

world

Now lets try to index nested list

In [19]:
# initialize nested list of length 5
list1=[22,220.67,"chitwan",True,[66,90.56,"ktm",False,True]]
print(len(list1[4]))

5

In [25]:
list1=[22,220.67,"chitwan",True,[66,90.56,"ktm",False,True]]
print(list1[0:3])
print(list1[4][:3])
print(list1[2:5])

[22, 220.67, 'chitwan']
[66, 90.56, 'ktm']
['chitwan', True, [66, 90.56, 'ktm', False, True]]

negative indexing

In [20]:
# reinitialize simple list of length 5
list=["hello",88,True,555.000,"world"]
print(len(list))

5

In [26]:
# print 1st item using negative index
list=["hello",88,True,555.000,"world"]
print(list[-5])

hello

In [27]:
# print 3rd item using negative index
list=["hello",88,True,555.000,"world"]
print(list[-3])

True

In [28]:
# print last item using negative index
list=["hello",88,True,555.000,"world"]
print(list[-1])

world

3. Slicing Lists

case 1: when step is positive

In [1]:
# initialize simple list (refer to above example)
list=["hello",88,True,555.000,"world"]
print(list)

['hello', 88, True, 555.0, 'world']

In [3]:
# slice first 3 items using positive index
list=["hello",88,True,555.000,"world"]
print(list[:3])

['hello', 88, True]

In [4]:
# slice last 3 items using negative index
list=["hello",88,True,555.000,"world"]
print(list[-3:])

[True, 555.0, 'world']

In [6]:
# get list item at even index
# e.g. ['S', 'r', 'n', ' ', 'n', 'e', i]
list=["hello",88,True,555.000,"world"]
print(list[::2])

['hello', True, 'world']

case 2: when step is negative

In [7]:
# reverse list
# output: ['n', 'i', 'x', 'e', 'd', 'n', 'I', ' ', 'g', 'n', 'i', 'r', 't'
list=['s','t','r','i','n','g',' ','i','n','d','e','x','i','n','g']
print(list[::-1])

['g', 'n', 'i', 'x', 'e', 'd', 'n', 'i', ' ', 'g', 'n', 'i', 'r', 't', 's']

4. Lists are mutable

In [8]:
# change first item 'hi' to 'hello'
mutable_list = ['hi', 'i', 'am', 'mutable']
mutable_list[0]='hello'
print(mutable_list)

['hello', 'i', 'am', 'mutable']

5. List Methods

In [9]:
# Create a new list
list1 = [1, 2, 3, 4]
print(list1)

[1, 2, 3, 4]

In [11]:
# add new item to the end of a list
# Hint: list.append()
list1 = [1, 2, 3, 4]
list1.append(5)
print(list1)

[1, 2, 3, 4, 5]

In [13]:
# add new item at index 1 using insert()
# Hint: list1.insert(, )
list1 = [1, 2, 3, 4]
list1.insert(0,5)
print(list1)

[5, 1, 2, 3, 4]

In [15]:
# Given two list i.e. list1 and list2
# extend list1 with item from list 2
# Hint: list1.extend(list2)
list1 = [1, 2, 3, 4]
list2=[10,20,30,40]
list1.extend(list2)
print(list1)

[1, 2, 3, 4, 10, 20, 30, 40]

In [16]:
# remove specific item from list
# Hint: list.remove()
list1 = [1, 2, 3, 4]
list1.remove(4)
print(list1)

[1, 2, 3]

In [17]:
# remove item at index 1 of list
# Hint: list1.pop()
list1 = [1, 2, 3, 4]
list1.pop(1)
print(list1)

[1, 3, 4]

In [18]:
# remove last item from list
# Hint: list1.pop()
list1 = [1, 2, 3, 4]
list1.pop(3)
print(list1)

[1, 2, 3]

In [19]:
# reverse list
# Hint: list.reverse()
list1 = [1, 2, 3, 4]
list1.reverse()
print(list1)

[4, 3, 2, 1]

In [21]:
# sort list in ascending order
# hint: list.sort()
list1 = [1,100, 2,0, 3, 4]
list1.sort()
print(list1)

[0, 1, 2, 3, 4, 100]

In [22]:
# sort list in descending order
# hint: list.sort(reverse=True)
list1 = [1,100, 2,0, 3, 4]
list1.sort(reverse=True)
print(list1)

[100, 4, 3, 2, 1, 0]

6. Join Lists

Technique to convert list to string.

Example:

input_list = ['hello', 'world']


ouput_list = "hello world"


syntax: `result = separator.join()

where, separator is the string that will be used to separate the elements in the resulting string.

In [3]:
place=["i","live","in","chitwan"]
joined_list =" ".join(place)
print(joined_list)

i live in chitwan

7. Loop Lists

In [4]:
# create list
# loop through list items
place=["i","live","in","chitwan"]
for i in place:
    print(i)

i
live
in
chitwan

In [7]:
# loop through list items using enumerate()
place=["i","live","in","chitwan"]


for index,places in enumerate(place):
    print(f"Index:{index},place:{places}")
    
for i in enumerate(place):
    print(i)

Index:0,place:i
Index:1,place:live
Index:2,place:in
Index:3,place:chitwan
(0, 'i')
(1, 'live')
(2, 'in')
(3, 'chitwan')

8. List Comprehension

List comprehension offers the shortest syntax for looping through lists.


Syntax: newlist = [expression for item in iterable if condition == True]

In [10]:
# Write a python program to lowercase item in given list using list comprehension.
sample_list = ["APPLE", "Mango", "BaNaNa", "GRapes"]
output_list=[words.lower() for words in sample_list]
print(output_list)

['apple', 'mango', 'banana', 'grapes']

In [5]:
#Given list of fruits i.e. fruit_list = ['apple', 'mango', 'banana', 'grapes', 'coffee'], Create new list named fruit_list removing item which is not fruit. Example = coffee.
fruit_list = ['mint','apple', 'mango','banana', 'grapes', 'coffee']
fruits=['apple', 'mango', 'banana', 'grapes']
for i in fruit_list:
    if i not in fruits:
        fruit_list.remove(i)
        
print(fruit_list)

['apple', 'mango', 'banana', 'grapes']

9. List exercise

In [22]:
# Write a python program that initializes non empty list of words with length = 5. Display longest word with its length.
list=['mango', 'banana', 'kiwi', 'apple', 'grapes']

longest_word=""
max_length=0

for word in list:
    length=len(word)
    
    if length>max_length:
        longest_word=word
        max_length=length
print(longest_word,max_length)

banana 6

In [26]:
#Write a python program to sum all the items in a list.
list=[1, 2, 3, 4, 5]
print(f"The sum of the list is = {sum(list)}")

The sum of the list is = 15

In [28]:
#Write a python program to get the largest number from a list.
list= [10, 20, 30, 100, 40]
print(F"The largest number from the list is = {max(list)} ")

The largest number from the list is = 100

In [30]:
#Write a python program to get the smallest number from a list.
list=[-1, 0, 1, 2]
print(f"The smallest number is = {min(list)}")

The smallest number is = -1

In [39]:
#Write a Python program to count the number of strings where the string length is 2 or more and the first and last character are same from a given list of strings.
list = ['abc', 'xyz', 'aba', '1221']

count=0

for words in list:
        length=len(words)
        #print(length)

        if length>=2 and words[0]==words[-1]:
            count+=1

print(count)

2

In [42]:
#Write a python program to check a list is empty or not.
list=[]
print(list)

if not list:
    print("The list is empty.")
else:
    print("The list is not empty.")

[]
The list is empty.

In [58]:
#Write a python program to insert a given string at the beginning of all items in a list.
list = [1, 2, 3, 4]
str_to_insert = "emp"

new_list=[]

for i in list:
    new=str_to_insert + str(i)
    new_list.append(new)

print(new_list)

['emp1', 'emp2', 'emp3', 'emp4']