A set is a collection, which is unordered, Unchangeable (you cannot change the items, but you can remove items and add new items i.e. sets are mutable), and Duplicates are not allowed.

# 1. Creating Sets

In [1]:
# create empty set
empty_set=set()
print(empty_set)

set()

In [2]:
# display type
empty_set=set()
print(type(empty_set))

<class 'set'>

In [3]:
# create simple set with mixed data types
mixed_set={"hello",980,74.22,True}
print(mixed_set)
# display type
print(type(mixed_set))

{'hello', 74.22, 980, True}
<class 'set'>

In [4]:
# display length of set
mixed_set={"hello",980,74.22,True}
print(len(mixed_set))

4

Since Sets are unordered, there is no concepts of Set Indexing and Slicing

# 2. Sets Methods/Operations.

Most common set methods/operations are:
add(): Method to add a new element to a set.



remove(): Method to remove item from a set.



pop(): Method to remove item from a set and returns removed item



union(): Method that return a set containing union of sets..



intersection(): Method that return a set that is intersection of 2 other sets.



difference(): Method that return a set containing difference between two or more sets.

In [6]:
#Syntax: set.add(<item>)
# inialize set
set_methods = {True, 1, 'set', 'methods', 0}
print(set_methods)

# add item "awesome"
set_methods.add("awesome")
print(set_methods)

{0, True, 'set', 'methods'}
{0, True, 'set', 'methods', 'awesome'}

In [7]:
#Syntax: set.remove(<item>)
# inialize set
set_methods = {True, 1, 'set', 'methods', 0}
print(set_methods)

# remove item "awesome"
set_methods.remove("set")
print(set_methods)

{0, True, 'set', 'methods'}
{0, True, 'methods'}

In [2]:
#Syntax: set.pop(<item>)
# inialize set
set_methods = {True, 1, 'set', 'methods', 0}
print(set_methods)

# pop item "methods"
set_methods.pop()
print(set_methods)

{0, True, 'set', 'methods'}
{True, 'set', 'methods'}

You can also use the pop() method to remove an item, but this method will remove a random item, so you cannot be sure what item that gets removed.



Generally, it will remove from starting item in a set.



It returns a item that is removed from a set.

union():-




The union of two sets A and B include all the elements of set A and B. No duplicates in final obtained set.



syntax:


set_union = set1.union(set2)



set_union = set1 | set2

In [3]:
#create two sets
set1={1,2,3,4}
set2={10,20,30}
print(set1)
print(set2)

{1, 2, 3, 4}
{10, 20, 30}

In [4]:
set1={1,2,3,4}
set2={10,20,30}
union_set=set1.union(set2)
print(f"The union of set1 and set2 is {union_set}")

The union of set1 and set2 is {1, 2, 3, 4, 20, 10, 30}

In [5]:
set1={1,2,3,4}
set2={10,20,30}
union_set=set1|(set2)
print(f"The union of set1 and set2 is {union_set}")

The union of set1 and set2 is {1, 2, 3, 4, 20, 10, 30}

In [6]:
set1={1,2,3,4}
set2={10,20,30}
set3={100,200,300}
union_set=set1.union(set2,set3)
print(f"The union of set1 and set2 is {union_set}")

The union of set1 and set2 is {1, 2, 3, 4, 100, 200, 10, 300, 20, 30}

In [7]:
set1={1,2,3,4}
set2={10,20,30}
set3={100,200,300}
union_set=set1|set2|set3
print(f"The union of set1 and set2 is {union_set}")

The union of set1 and set2 is {1, 2, 3, 4, 100, 200, 10, 300, 20, 30}

intersection():-




Method that return a set containing intesection of sets.





The intersection of two sets A and B include the common elements between set A and B. No duplicates in final obtained set.




syntax:





set_common = set1.intersection(set2)




set_union = set1 & set2

In [24]:
# intersection of set using intersection() method

set1={1,2,3,4,5}
set2={20,10,5,4,1}
set_intersection=set1&set2
print(f"The intersection of a set1 and set2 are {set_intersection}")


# intersection of set using (&) operator
set1={1,2,3,4,5}
set2={20,10,5,4,1}
set_intersection=set1.intersection(set2)
print(f"The intersection of a set1 and set2 are {set_intersection}")

The intersection of a set1 and set2 are {1, 4, 5}
The intersection of a set1 and set2 are {1, 4, 5}

In [22]:
#intersection_update()
set1={1,2,3,4,5}
set2={20,10,5,4,1}
inter_update=set1.intersection_update(set2)
print(set1)

{1, 4, 5}

difference():

Method that return a set containing difference between two or more sets.



The difference between two sets A and B denoted by A-Binclude elements of set A that are not present on set B.




syntax: 


set_diff = set1.difference(set2)

In [2]:
set1={1,2,3,4,5}
set2={20,10,5,4,1}
set_diff=set1-set2
print(set_diff)

{2, 3}

In [5]:
set1={1,2,3,4,5}
set2={20,10,5,4,1}
set_diff=set1.difference(set2)
print(set_diff)

{2, 3}

Subset:

In [10]:
set1={1,2,3,4,5}
set2={20,10,5,4,1}
set2.issubset(set1)

False

In [11]:
set1={1,2,3,4,5}
set2={20,10,5,4,1}
set2 <= set1

False

Superset:

In [7]:
set1={1,2,3,4,20,10,5}
set2={20,10,5,4,1}
subset=set1.issuperset(set2)
print(subset)

True

In [14]:
set1={1,2,3,4,20,10,5}
set2={20,10,5,4,1}
set1 >= set2

True

isdisjoint():

In [18]:
set1={3,40,50}
set2={20,10,5,4,1}
disjoint=set1.isdisjoint(set2)
print(disjoint)

True

In [20]:
#update()
set1={1,2,3,4,5}
set1.update([20,30])
print(set1)

{1, 2, 3, 4, 5, 20, 30}

In [29]:
#symmetric_difference()
#Returns a set with the symmetric differences of two sets
set1={1,2,3,4}
set2={2,3,4,5,6}

print(set1.symmetric_difference(set2))

{1, 5, 6}

In [47]:
set1={1,2,3,4}
set2={2,3,4,5,6}
set3={5,6,7,8}

print(set1 ^ set2 ^ set3)

{1, 7, 8}

In [30]:
#symmetric_difference_update()
#Inserts the symmetric differences from this set and another
set1={'C','C++','Java','Python'}
set2={'JS','React'}

set1.symmetric_difference_update(('JS','React','Java'))
print(set1)

{'C++', 'C', 'JS', 'React', 'Python'}

# 3 .Sets are Mutable

In [41]:
# Given Set, verify Sets are mutable
# Hint: .add(item)
set1={'C','C++','Java','Python'}
set1.add('mysql')
print(set1)

{'C++', 'C', 'Java', 'Python', 'mysql'}


# 4. Loop Sets.

In [42]:
#Initialize Set and print set items one by one using for loop.
set1={20,'Hi',True,100.123}
for items in set1:
    print(items)

True
100.123
20
Hi

# 5.Set Comprehension

In [43]:
#Given List = ['item1', 1, 2, 'item4'], create Set using list items using Set comprehension.
sample_list = ['item1', 1, 2, 'item4']
print(set(sample_list))

{1, 2, 'item4', 'item1'}

In [70]:
#Write a python program to sort Set items in ascending order.
sample_set={20,100,60,1000,1,300}

#sorted() function creates a new sorted list from the elements of any iterable, including sets. 
sample_lists=sorted(sample_set)
print(sample_lists)

#Once you have a sorted list, you can create a new set from that list using the set() constructor if you need a sorted set.
print(set(sample_lists))

[1, 20, 60, 100, 300, 1000]
{1, 100, 1000, 300, 20, 60}

In [69]:
set1={20,100,60,1000,1,300}
sort=sorted(set1, reverse=True)
print(set(sort))

{1, 100, 1000, 300, 20, 60}

In [65]:
# Given set
sample = {20, 100, 60, 1000, 1, 300}

# Convert the set to a sorted list
sorted1 = sorted(sample)

# Print the sorted list
print(sorted1)

# Convert the sorted list back to a set and print it
sorted2 = set(sorted1)
print(sorted2)

[1, 20, 60, 100, 300, 1000]
{1, 100, 1000, 300, 20, 60}

In [64]:
# Resetting the 'set' variable to its default built-in function
del set

# Given set
set1 = {20, 100, 60, 1000, 1, 300}

# Convert the set to a sorted list
sorted_list = sorted(set1)

# Print the sorted list
print(sorted_list)

# Convert the sorted list back to a set and print it
sorted_set = set(sorted_list)
print(sorted_set)

[1, 20, 60, 100, 300, 1000]
{1, 100, 1000, 300, 20, 60}